div#post {
    margin: 2em auto;
    padding: 3em;
    border: solid 1px black;
    position: relative;
    max-width: 80ex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
body {
    font-family: Georgia, serif;
}

#post h2 {
    margin: 0;
}
